# -------- extensions --------

extensions = ext_sb

[ ext_ca ]
subjectKeyIdentifier    = hash
basicConstraints        = CA:true

[ ext_sb ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid
basicConstraints        = critical,CA:FALSE
extendedKeyUsage        = codeSigning

# -------- requests --------
[ req ]

default_bits        = 2048
default_md          = sha256
default_days        = 30

encrypt_key         = no
prompt              = no
distinguished_name  = empty

# -------- distinguished name preset -------
[ empty ]
[ predefined ]
C     = DE
O     = rz.semjonov.de
OU    = SecureBoot Keys
CN    = $ENV::CN
